*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nome{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}
.pontos{
    margin-left: 5px;
}
.box{
    position: absolute;
    width: 100%;
    height: 500px;
    border-bottom: 15px solid green;
    margin: 0 auto;
    margin-top: 22px;
    position: relative;
    overflow: hidden;
    display: flex;
    background: linear-gradient(#87CEEB, #E8F6FF);
}

.tubo{
    position: absolute;
    bottom: -16px;
    width: 80px;
}

.aniTubo{
    animation: Movtubo 1.5s infinite linear;
}
.aniBala{
    animation: MovBala 0.8s infinite linear;
}

.mario{
    position: absolute;
    width: 100px;
    bottom: 0;
}

.nuvem{
    position: absolute;
    width: 200px;
    animation: nuvem-mulv 20s infinite linear;
}

.nuvem2{
    position: absolute;
    width: 200px;
    margin-top: 40px;
    animation: nuvem-mulv 25s infinite linear;
}

.game-over{
    position: relative;
    margin: auto;
    display: grid;
    width: 250px;
    height: 200px;
    opacity: 0;
}

.over{
    margin: auto;
    margin-top: -20px;
    width: 80%;
}

.button{
    position: relative;
    bottom: -8px;
    margin: auto;
    border: 0;
    width: 100px;
    background: #ee0000;
    border-radius: 50%;
    box-shadow: 0 5px 0 rgb(143, 0, 0);
    color: #fff;
    cursor: pointer;
    font: inherit;
    outline: 0;
    padding: 25px;
    transition: all 0.1s linear;
    transition-duration: 100ms;
    font-family: 'Helvetica';
}
.ButJump{
    display: flex;
    margin: auto;
    margin-top: 200px;
    color: royalblue;
    width: 100px;
    border-radius: 10%;
}

button:active{
    box-shadow: 0 0px 0 red;
    transform: translateY(5px);
}

.jump{
    animation: pulo 600ms ease-out;
}

.fim-do-jogo{
    animation: game-over 1000ms linear;
}

.restart{
    animation: game-over 1000ms reverse linear;
}

@keyframes game-over{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes pulo{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 120px;
    }
    50%{
        bottom: 120px;
    }
    60%{
        bottom: 120px;
    }
    100%{
        bottom: -16px;
    }
}

@keyframes nuvem-mulv{

    from{
        right: -200px;
    }
    to{
        right: 100%;
    }
}

@keyframes Movtubo{
    from{
        right: -100px;
    }
    to{
        right: 100%;
    }
}

@keyframes MovBala{
    from{
        right: -200px;
    }
    to{
        right: 100%;
    }
}